.body{
    width: 960px;
    height: 100%;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.shop{
    width: 280px;
    margin-left: 25px;
}
.shop2{
    padding: 60px 60px 60px 60px;
}
.board{
    margin: 0 auto;
    text-align:center;
}
.goods_img{
    width:150px;
    height: 200px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.goods{
    vertical-align: top;
    width: 560px;
    padding-top: 20px;
}
.buy_goods_img{
    width: 90px;
    height: 120px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.buy_goods{
    margin: 0 auto;
    text-align: center;
    width: 850px;
}
.padding{
    padding-bottom: 20px;
}